nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 75px;
    background: #4C6444;
    z-index: 1;
}
nav .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    max-width: 90%;
    background: #4C6444;
    margin: auto;
}
nav .navbar .logo a{
    color: #CABA9C;
    font-size: 27px;
    font-weight: 600;
    text-decoration: none;
}
nav .navbar .menu{
    font-size: 20px;
    color: #CABA9C;
    display: flex;
}
.navbar .menu li{
    list-style: none;
    margin: 0 20px;
}
.navbar .menu li a{
    color: #CABA9C;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}

.shelfTitle {
    position: relative;
    top: 44px;
    margin: auto;
    width: 100%;
    height: 0px;
    background-color: red;
    text-align: center;
    font-family: Inknut Antiqua;
    font-size: 64px;
    font-weight: 700;
    text-shadow:
            1px 1px 1px black,
            2px 2px 1px black;
}

.bookCase {
    position: relative;
    top: 103px;
    left: 15%;
    width: 70%;
    height: 570px;
    background: rgba(87, 31, 0, 0.72);
}

.bookCase .shelf{
    list-style-type: none;
    padding: 1% 5% 0 5%;
}

.shelves{
    list-style-type: none;
    padding-left: 0;
    margin: 2% 0 5% 0;
}

.row1{
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 65px;
    width: 100%;
    padding-left: 5%;

}
.row2{
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 240px;
    width: 100%;
    padding-left: 5%;

}
.row3{
    list-style-type: none;
    display: flex;
    position: absolute;
    top: 415px;
    width: 100%;
    padding-left: 5%;

}
.book{
    background-color: #79d7fc;
    height: 110px;
    text-align: center;
    width: 8%;
    margin: 0 1% 0 1%;
    overflow: hidden;
}

img{
    width: 100%;
    height: 170px;
}

.bookmark{

    width: 25%;
    margin: 0 0 0 72%;
    height: 25px;
}